@model IEnumerable<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimo";
}
 

<style>
    .sidebar{
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        width: 110px;
        height: 100vh;
        padding: 0 1.7rem;
        color: #fff;
        overflow:hidden;
        transition: all 0.5s linear;
        background: rgba(113, 99, 186, 255);
    }
    .sidebar:hover{
        width: 240px;
        transition: 0.5s;
    }

    .logo{
        height: 80px;
        padding: 16px;

    }

    .menu{
        height: 88%;
        position: relative;
        list-style: none;
        padding: 0;
    }

    .menu li {
        padding: 1rem;
        margin: 8px 0;
        border-radius: 8px;
        transition: all 0.5s ease-in-out;
    }

    .menu li:hover,
    .activetag {
        background: #e0e0e058;
    }

    .menu a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .menu a span {
        overflow: hidden; /*para não scrollar nna pág*/
    }

    .menu a i {
        font-size: 1.2rem;
    }

    .logout{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

</style>


<div class="sidebar">
    <div class="logo"> </div>
    <ul class="menu">
        <li class="activetag">
            <a href="#">
                <i class="bi bi-speedometer"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-book"></i>
                <span>Catálogo de Livros</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-folder2-open"></i>
                <span>Meus Livros</span>
            </a>
        </li>
         <li>
            <a href="#">
                <i class="bi bi-pen"></i>
                <span>Empréstimos Pendentes</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-clock-history"></i>
                <span>Histórico de Empréstimos</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-hand-index-thumb"></i>
                <span>Solicitar Empréstimo</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-file-earmark-person"></i>
                <span>Minha Conta</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-bell"></i>
                <span>Notificações</span>
            </a>
        </li>
        <li class="logout">
            <a href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
            </a>
        </li>
    </ul>
</div>

<div class="content--main">
    <div class="header--wrapper">
        <div class="header--title">
            <span>Olá </span>
        </div>
    </div>
</div>





@* <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 style="font-size: 40px" class="display-4">Listagem de Empréstimos</h1>
    <div>
        <a class="btn" style="background-color: #800080; color: white" asp-controller="Emprestimo" asp-action="Cadastrar">Cadastrar novo Empréstimo</a>
    </div>
</div>


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}


<table id="emprestimos" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Última Atualização</th> 
            <th scope="col">Prevista devolução</th>
            <th scope="col">Status</th>
            <th scope="col"></th> 
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var emprestimo in Model)
            {
                <tr>
                    <th scope="row">@emprestimo.Recebedor</th>
                    <td>@emprestimo.Fornecedor</td>
                    <td>@emprestimo.NomeDoLivro</td>
                    <td>@emprestimo.DataUltimaAtualizacao</td>
                    <td>@emprestimo.DataDevolucaoPrevista.ToString("dd/MM/yyyy")</td>
                    <td>@emprestimo.StatusEmprestimo</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a asp-controller="Emprestimo" asp-action="Editar" asp-route-id="@emprestimo.Id" role="button" class="btn me-md-2" style="background-color: #cda7e0; color: white">
                                Editar
                            </a>
                            <a asp-controller="Emprestimo" asp-action="Apagar" asp-route-id="@emprestimo.Id" role="button" class="btn" style="background-color: #3c005a; color: white">
                                Apagar
                            </a>
                        </div>
                    </td>
                </tr>
            }

            
        }
       
    </tbody>
</table>
 *@