@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 style="font-size: 40px" class="display-4">Listagem de Usuários</h1>
        <div>
            <a class="btn" style="background-color: #800080; color: white" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar novo usuário</a>
        </div>
    </div>


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>

}


<table id="usuarios" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data de Cadastro</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.DataCadastro</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.Id" role="button" class="btn me-md-2" style="background-color: #cda7e0; color: white">
                                Editar
                            </a>
                            <a asp-controller="Usuario" asp-action="Apagar" asp-route-id="@usuario.Id" role="button" class="btn" style="background-color: #3c005a; color: white">
                                Apagar
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>

